<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<table style="height:100%; width:100%;">
<tr style="height:30px"><td style="color: #d1d1d1; background-color: #343434;">
<div style="float:left;">
Здарова, Санёк!
</div>
<div style="float:right;">
выйти
</div>
</td></tr>
<tr><td style="vertical-align:top;">
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;">
Украина и Новороссия 7 июля. Онлайн-репортаж
Редакция Ria.ru следит за обстановкой на Украине и в Новороссии (Союзе Донецкой и Луганской народных республик), где продолжается противостояние между подконтрольными Киеву силовиками и ополчением.


РИА Новости http://ria.ru/#ixzz36lwVWGIO
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
Пять боевиков уничтожены в Дагестане, спецоперация продолжается
Спецоперация проводится в Унцукульском районе. В воскресенье там были уничтожены три боевика так называемой балахнинской группировки.


РИА Новости http://ria.ru/#ixzz36lwbnect
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
Путин: Россия за первое полугодие продала оружия и военной техники на $5,6 млрд
Глава государства также сообщил, что общий портфель экспортных оружейных заказов вырос почти до 50 миллиардов долларов, в то время как на начало 2014 года он составлял более 35 миллиардов долларов.


РИА Новости http://ria.ru/#ixzz36lxNhLb3
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
Ополченцы сочли провокацией заявления о приостановке наступления украинских силовиков
В украинских СМИ ранее появились сообщения, что Киев приостановил спецоперацию якобы из-за угроз со стороны ополченцев расправляться с пленными.


РИА Новости http://ria.ru/#ixzz36lxSNvDu
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
ОП предлагает изолировать Украину, пока не расследуют преступления Киева
Секретарь палаты Александр Бречалов рассказал, что ОП будет направлять приглашения международным общественным и правозащитным организациям с тем, чтобы они провели детальное расследование преступлений, происходящих на востоке Украине.


РИА Новости http://ria.ru/#ixzz36lxTnhsp
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
Главарь кущевской банды Сергей Цапок скончался в СИЗО
По данным ФСИН, главарь бандгруппы скончался из-за острой сердечной недостаточности. По факту случившегося проводится проверка.


РИА Новости http://ria.ru/#ixzz36lxVLS3p
</div>
<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
"Россия сегодня" представит проект "Братоубийство: визуальная хроника"
МИА "Россия сегодня" проведет фотовыставку "Братоубийство: визуальная хроника". Экспозиция пройдет с 10 по 25 июля в московском Центральном доме журналиста (Никитский бульвар, д. 8а).


РИА Новости http://ria.ru/#ixzz36lxY9dMh
</div>

<div style="width:90%; margin:20px; padding-bottom:10px; border-bottom: 1px #000000 solid;" >
В Кишиневе начались протесты в защиту российских телеканалов
У здания Координационного совета по теле- и радиовещанию собрались около 300 человек, они скандируют "Нет цензуре", "Свободу прессе!", "Долой цензуру!" Ранее совет запретил трансляцию в Молдавии телеканала "Россия-24" до 1 января 2015 года.


РИА Новости http://ria.ru/#ixzz36lxZUEZN
</div>
</td></tr>
</td></tr>
<tr style="height:30px;"><td style="color: #d1d1d1; background-color: #343434;">
	&copy; MG-technics 2014
</td></tr>
</table>
</body>
</html>