{% extends "base.html" %}

{% block top %}
Y E L L E R S . C O M

{% endblock %}

{% block content %}
<div style="padding:4px; position: fixed; left: 50%; top: 50%; margin-left: -100px; margin-top: -50px; width:200px; height: 94px; color: #d1d1d1; background-color: #343434;">
<a href="{% url 'registration' %}">регистрация</a>
<br/>
<form action="{% url 'login' %}" method="POST" style="margin-bottom:0">
{% csrf_token %}
   <input type="text" name="login" placeholder="login"> 
	<br/>
	<input type="password" name="password" placeholder="password">
	<br/>
<input type="submit" value="войти" />
</form>
</div>
{% endblock %}
